body {
  position: relative;
  min-width: 320px;
  padding: 0;
  margin: 0;
  background: #BCBCBC;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

.box {
  max-width: 382px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #ffffff;
}
.row:first-of-type {
  border: none;
}

.cell {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ffffff;
}
.cell:first-of-type {
  border: none;
}

.about__cell {
  align-items: baseline;
}
.about__info {
  font-size: 12px;
  color: #6C6C6C;
  line-height: 2;
}
.about__img {
  width: 100%;
  height: auto;
}
.about__name {
  display: inline-block;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}
@media (min-width: 340px) {
  .about__name {
    font-size: 18px;
  }
}
@media (min-width: 340px) and (min-width: 360px) {
  .about__name {
    font-size: 19px;
  }
}
@media (min-width: 340px) and (min-width: 360px) and (min-width: 375px) {
  .about__name {
    font-size: 20px;
  }
}
@media (min-width: 340px) and (min-width: 360px) and (min-width: 375px) and (min-width: 410px) {
  .about__name {
    font-size: 21px;
  }
}
.about__skill {
  margin-right: 5px;
}
.about__skill:last-of-type {
  margin-right: 0;
}

.contacts {
  margin-top: 10px;
}
.contacts__row {
  min-height: 56px;
}
.contacts__link {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  text-decoration: none;
}
.contacts__link:hover, .contacts__link:focus {
  color: #6C6C6C;
}
.contacts__link:active, .contacts__link:visited {
  color: #ffffff;
}
.contacts__img {
  margin-left: 8px;
}

.ui-color {
  margin-top: 10px;
}
.ui-color__cell {
  padding: 4px 3px 3px 3px;
  vertical-align: middle;
  font-size: 11px;
  line-height: 1;
  font-weight: 400;
  border-bottom: none;
}
.ui-color__link {
  display: inline-block;
  width: 60px;
  height: 10px;
  background: #C4C4C4;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.ui-color__link--gray {
  background: #C4C4C4;
}
.ui-color__link--white {
  background: #ffffff;
}
.ui-color__link--red {
  background: #FF0000;
}
.ui-color__link--black {
  background: #000000;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  margin: 70px 0 120px 0;
}

.footer {
  background: #3A3A3A;
  color: #000000;
  max-width: 100%;
  box-sizing: border-box;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 4px;
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

.copyright-logo {
  margin: 0 5px;
}

.page-container {
  max-width: 414px;
  margin: 0 auto;
  padding: 32px 0;
  box-sizing: border-box;
}
.page-container--black {
  background-color: #000000;
}
.page-container--gray {
  background-color: #D3D3D3;
  color: #000000;
}
.page-container--gray .table {
  border-color: #000000;
  background: #ffffff;
}
.page-container--gray .row {
  border-color: #000000;
}
.page-container--gray .cell {
  border-color: #000000;
}
.page-container--gray .footer {
  background: #CCCCCC;
  color: #ffffff;
}
.page-container--gray .contacts__link {
  color: #000000;
}
.page-container--white {
  background-color: #ffffff;
  color: #000000;
}
.page-container--white .table {
  border-color: #000000;
}
.page-container--white .row {
  border-color: #000000;
}
.page-container--white .cell {
  border-color: #000000;
}
.page-container--white .footer {
  background: #F3F0F0;
  color: #B1B1B1;
}
.page-container--white .contacts__link {
  color: #000000;
}
.page-container--red {
  background-color: #FF0000;
  color: #ffffff;
}
.page-container--red .table {
  border-color: #ffffff;
}
.page-container--red .row {
  border-color: #ffffff;
}
.page-container--red .cell {
  border-color: #ffffff;
}
.page-container--red .footer {
  background: #FFF6F6;
  color: #FF0000;
}
.page-container--red .contacts__link {
  color: #ffffff;
}
.page-container--red .about__info {
  color: #ffffff;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 10;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000000;
  transition: opacity 500ms;
}
.modal--white {
  background-color: #FFFFFF;
}
.modal--red {
  background-color: #FF0000;
}
.modal--gray {
  background-color: #D3D3D3;
}
.modal--show {
  display: flex;
}
.modal--hide {
  opacity: 0;
}

/*# sourceMappingURL=styles.css.map */
